
* {
  margin: 0;
  padding: 0;

}

body
{
  background: #aa4b6b;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #3b8d99, #6b6b83, #aa4b6b);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #3b8d99, #6b6b83, #aa4b6b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background-repeat: no-repeat;
  background-size: content;
  text-align: center;
  color: rgb(0, 25, 36);
  width: 100vw;
  height: 100vh;
  font-family: 'Text Me One', sans-serif;
  overflow: hidden;
}

canvas
{
  z-index: -10;
}

h1
{
  background-color: rgba(0,0,0,0.3);
  font-weight: bold;
  text-transform: uppercase;
  margin: 40px;
  padding: 40px;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
}

.anim
{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 10px;
  width: 40%;
  height: 40px;
  margin-bottom: 40px;
  border-radius: 3px;
}

#mess1
{
  background-color: #ffeead;
  opacity: 0.6;
  position: relative;
  animation: LoadMess 0.3s;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#mess2
{
  background-color: #ffcc5c;
  position: relative;
  opacity: 0.6;
  animation: LoadMess 0.3s;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#mess3
{
  background-color: #ff6f69;
  position: relative;
  animation: LoadMess 0.3s;
  opacity: 0.6;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.moveEffect{
  transform: translateX(-200px);
  opacity: 0 !important;
  transition: all 0.3s ease-in-out;
}
.launchAnimH1 {
  animation: h1zoom 0.3s;
}

iframe {
  display: none;
  opacity: 0.5;
  position:relative;
  transition: all 0.3s ease-in-out;

}
.iframe-move {
  display: initial;
  top: -250px;
  opacity: 1;
}
@keyframes h1zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/* Ballons */
.ballon {
  position: absolute;
  width: 75px;
  height: 155.5px;
  bottom: -160px;
  transform-origin: 37.5px 0px;
}

.yellow {
  will-change: transform;
  animation: float 5s 0s linear infinite;
  left: 10%;
}

.green {
  will-change: transform;
  animation: float 5s 3s linear infinite;
  left: 50%;
}

.blue {
  will-change: transform;
  animation: float 5s 4s linear infinite;
  right: 5%;
}

.wind {
  will-change: transform;
  overflow: hidden;
  width: 90vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -5;
}

.parentwind {
  position: absolute;
  width: 100%;
  top: 100%;
  animation: wind 10s ease-in-out infinite;
}
@keyframes float {
  0% { transform: translateY(0px) rotate(5deg);}
  100% { transform: translateY(-200vh) rotate(0deg);}
}

@keyframes wind {
  0% { transform: translateX(0px);}
  10% { transform: translateX(10px);}
  30% { transform: translateX(-5px);}
  66% { transform: translateX(3px);}
  86% { transform: translateX(-10px);}
  100% { transform: translateX(0px);}
}

@keyframes removeMess {
  from {
    left: 0px;
    opacity: 1;
  }
  to {
    left: -100px;
    opacity: 0;
  }
}